{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">  
    <title>content</title>
    <style>
    .row{
      background-color:#003963;
    }
    .takvim{
      margin-top:200px;
      margin-left:550px;
      height:300px;
      width:300px;
      position:absolute;


    }
    .sepet{
      margin-top:200px;
      margin-left:1000px;
      height:300px;
      width:300px;
      position:absolute;


    }
     a {
        font-size: 30px;
        color: black;
    }
    </style>
  </head>
  <body>
      <div class="takvim"> 
        <a href="{% url 'hall' %}"> 
        <img src="{% static 'websiteapp/img/takvim.jpg' %}"  id="takvim" />
        </a>
      </div>
      <div class="sepet">
        <a href="{% url 'shopping' %}">
        <img src="{% static 'websiteapp/img/sepet.jpg' %}"  id="sepet1" />
        </a>
      </div>
        
        
        <div class="row align-content-center "style= "height:800px; width:400px; solid #333;">
          
        
        
            <div class="col-12 "style="text-align: center" >
              <font size="6" color="black">AD SOYAD</font>
            </div>
            <br><br>
            <br><br>
            <br><br>
            <br><br>

            <div class="col-12" style="text-align: center">
              <a href="{% url 'profil_misafir' %}">Profil Bilgileri</a> <!--ogrenci-->
            </div>
            <div class="col-12 "style="text-align: center" >
              <font size="6" color="black">Puan</font>
            </div>
            <div class="col-12" style="text-align: center">
              <a href="{% url 'rezervation' %}">Rezervasyonlarım</a>
            </div>
            <div class="col-12" style="text-align: center">
              <a href="#">Alışverişlerim</a>
            </div>
            <div class="col-12" style="text-align: center">
                  <a href="{% url 'content' %}">Ana Sayfa</a>
                  
            </div>
            
            <br><br>
            <br><br>
            <br><br>
            <br><br>
            <br><br>
            <div class="col-12" style="text-align: center">
              <a href="{% url 'home' %}">Çıkış Yap</a>
            
            <div class="col-12" style="text-align: center">
              <a href="{% url 'communication' %}">İletişim</a>
            
          
        
          </div>    
        </div>
      
  
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>  
  </body>
</html>
