{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">  
    <title>hall</title>
    <style>
    .row{
      background-color:#003963;
    }
    a {
        font-size: 30px;
        color: black;
    }
    .resim{
        margin-top:50px;
        margin-left:500px;
        position:absolute;
        height:1px; 
        width:1px;
    }
    .kat-secimi{
        margin-top:40px;
        margin-left:450px;
        position:absolute;
    }
    .oda-secimi{
        margin-top:40px;
        margin-left:570px;
        position:absolute;
    }
    .sandalye-secimi{
      margin-top:40px;
      margin-left:700px;
      position:absolute;


    }
    .gün-secimi{
        margin-top:40px;
        margin-left:860px;
        position:absolute;
        
    }
    .ay-secimi{
        margin-top:40px;
        margin-left:930px;
        position:absolute;

    }
    .yıl-secimi{
        margin-top:40px;
        margin-left:1040px;
        position:absolute;
    }
    .Başlangıç{
        margin-top:40px;
        margin-left:1150px;
        position:absolute;

    }
    .Bitiş{
        margin-top:40px;
        margin-left:1260px;
        position:absolute;

    }
    .button{
        margin-top:35px;
        margin-left:1340px;
        position:absolute;
    }

    </style>
  </head>
  <body>
      <div class="resim">
        <img src="{% static 'websiteapp/img/salon.jpg' %}"  >
      </div>
        <select class="kat-secimi" aria-label="Default select example">
            <option selected>Kat Seçiniz</option>
            <option value="1">Bir</option>
            <option value="2">İki</option>
        </select>
        <select class="oda-secimi" aria-label="Default select example">
            <option selected>Oda Seçiniz</option>
            <option value="1">Bir</option>
            <option value="2">İki</option>
        </select>
      <div>  
        <select class="gün-secimi " aria-label="Default select example">
            <option selected>Gün </option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
            
        </select>
       </div>
       <div>
        <select class="ay-secimi" aria-label="Default select example">
            <option selected>Ay Seçiniz</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>

        </select>
        </div>
        <div>
        <select class="yıl-secimi" aria-label="Default select example">
            <option selected>Yıl Seçiniz</option>
            <option value="2022">2022</option>
            <option value="2023">2023</option>
            <option value="2024">2024</option>
            <option value="2025">2025</option>
            <option value="2026">2026</option>
            <option value="2027">2027</option>
            <option value="2028">2028</option>
            <option value="2029">2029</option>
            <option value="2030">2030</option>

        </select>
        </div>
        </div>
        <select class="sandalye-secimi" aria-label="Default select example">
            <option selected>Sandalye Seçiniz</option>
            <option value="A1">A1</option>
            <option value="A2">A2</option>
            <option value="A3">A3</option>
            <option value="A4">A4</option>
            <option value="A5">A5</option>
            <option value="A6">A6</option>
            <option value="B1">B1</option>
            <option value="B2">B2</option>
            <option value="B3">B3</option>
            <option value="B4">B4</option>
            <option value="B5">B5</option>
            <option value="B6">B6</option>
            <option value="C1">C1</option>
            <option value="C2">C2</option>
            <option value="C3">C3</option>
            <option value="C4">C4</option>
            <option value="C5">C5</option>
            <option value="C6">C6</option>
            <option value="D1">D1</option>
            <option value="D2">D2</option>
            <option value="D3">D3</option>
            <option value="D4">D4</option>
            <option value="D5">D5</option>
            <option value="D6">D6</option>
        </select>
        <div>  
        <div>
        <select class="Başlangıç" aria-label="Default select example">
            <option selected>Başlangıç</option>
            <option value="08.00">08.00</option>
            <option value="09.00">09.00</option>
            <option value="10.00">10.00</option>
            <option value="11.00">11.00</option>
            <option value="12.00">12.00</option>
            <option value="13.00">13.00</option>
            <option value="14.00">14.00</option>
            <option value="15.00">15.00</option>
            <option value="16.00">16.00</option>
            <option value="17.00">17.00</option>
            <option value="18.00">18.00</option>
            <option value="19.00">19.00</option>
        </select>
        </div>
        <select class="Bitiş" aria-label="Default select example">
            <option selected>Bitiş</option>
            <option value="09.00">09.00</option>
            <option value="10.00">10.00</option>
            <option value="11.00">11.00</option>
            <option value="12.00">12.00</option>
            <option value="13.00">13.00</option>
            <option value="14.00">14.00</option>
            <option value="15.00">15.00</option>
            <option value="16.00">16.00</option>
            <option value="17.00">17.00</option>
            <option value="18.00">18.00</option>
            <option value="19.00">19.00</option>
            <option value="20.00">20.00</option>
        </select>
        </div>

        <div class="button">
            <button type="button" class="btn btn-outline-primary mr-3">Rezerve Et</button>
        </div>
        <div class="row align-content-center "style= "height:800px; width:400px; solid #333;">
          
        
        
          <div class="col-12 "style="text-align: center" >
            <font size="6" color="white">AD SOYAD</font>
          </div>
          <br><br>
          <br><br>
          <br><br>
          <br><br>

          <div class="col-12" style="text-align: center">
            <a href="{% url 'profil_misafir' %}">Profil Bilgileri</a> <!--ogrenci-->
          </div>
          <div class="col-12 "style="text-align: center" >
            <font size="6" color="white">Puan</font>
          </div>
          <div class="col-12" style="text-align: center">
            <a href="{% url 'rezervation' %}">Rezervasyonlarım</a>
          </div>
          <div class="col-12" style="text-align: center">
            <a href="{% url 'shopping' %}">Alışverişlerim</a>
          </div>
          <div class="col-12" style="text-align: center">
                <a href="{% url 'content' %}">Ana Sayfa</a>
                
          </div>
          
          <br><br>
          <br><br>
          <br><br>
          <br><br>
          <br><br>
          <div class="col-12" style="text-align: center">
            <a href="{% url 'home' %}">Çıkış Yap</a>
          
          <div class="col-12" style="text-align: center">
            <a href="{% url 'communication' %}">İletişim</a>
          
        
      
        </div>    
      </div>
    
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>  
  </body>
</html>
